<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>name.yuco.g.new-window-at-current-workspace</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>87B3D37A-1B0E-49AC-97CE-35CC662935A8</key>
		<array/>
		<key>CFA3BF9B-0BE3-4790-99E3-B1A770EC0B94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87B3D37A-1B0E-49AC-97CE-35CC662935A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>kminiatures</string>
	<key>description</key>
	<string>Open New Window at Current Workspace</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>New Window at Current Workspace</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>w</string>
				<key>scopes</key>
				<array>
					<string>/Applications</string>
				</array>
				<key>subtext</key>
				<string>アプリケーションウインドウをここに開くよ</string>
				<key>title</key>
				<string>open app</string>
				<key>types</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>CFA3BF9B-0BE3-4790-99E3-B1A770EC0B94</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>q = "{query}"
q.gsub! "\ ", " "
`echo "query: {q}" &gt; /tmp/applelog`
`/usr/bin/osascript open_window.scpt "#{q}"`</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>87B3D37A-1B0E-49AC-97CE-35CC662935A8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>87B3D37A-1B0E-49AC-97CE-35CC662935A8</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>CFA3BF9B-0BE3-4790-99E3-B1A770EC0B94</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>g.yuco.name</string>
</dict>
</plist>
